<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>病案修改清单</title>
    <link rel="stylesheet" href="admin/admins/css/pintuer.css">
    <link rel="stylesheet" href="admin/admins/css/admin.css">
    <link rel="stylesheet" href="admin/assets/css/pintuer.css">
    <script src="admin/admins/js/jquery.js"></script>
    <script src="admin/admins/js/pintuer.js"></script>
    <style>
        .active_radio{
            z-index: 3;
            position: relative;
            top: 0;
            bottom: 0;
            margin: auto; /* 这里及以上的定位，可以让该元素竖直居中。(top: 0; bottom: 0;) */
            opacity: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
        .radio_demo{
            width: 25px;
            position: relative;
            top: 9px;
            bottom: 0;
            left: -22px;
            margin: auto;
            background: url('admin/admins/images/radio_no.png') no-repeat;
            background-size: contain;
            cursor: pointer;
            padding: 8px;
        }
        .active{
            background: url('admin/admins/images/radio_yes.png') no-repeat;
        }
        .border-bottom{
            width: 13%;
            height: 5em;
            margin-left: 4%;
        }
        .admin_lisd{
            width:100%;
            height:100%;
        }
        .long_button{
            background: url('admin/admins/images/medical_add.png') no-repeat;
            background-size: contain;
        }
        .table tr{
            line-height: 320%;
        }
        #page{
            margin-left:4%;
        }
    </style>
    <!--<link rel="stylesheet" type="text/css" href="admin/admins/css/normalize.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="admin/admins/css/default.css">-->
    <!--<link rel='stylesheet prefetch' href='admin/admins/css/font-awesome.min.css'>-->
    <!--<link rel="stylesheet" type="text/css" href="admin/admins/css/styles.css">-->
    <!--<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>-->
</head>
<body>
<div class="panel admin-panel"><!--<a href="" style="float:right; display:none;">添加字段</a>-->
    <div class="panel-head" style="width: 90%; height: 5em; background: #F0F0F0; line-height: 3em;margin: 3% auto;"><strong class="icon-reorder" style="margin-right: 2%;"> 病案入链状态</strong>
        <input type="radio" class="active_radio" name="already_chain" id="chain_status=2" value="2" runat="server" checked><span class="radio_demo"></span>全部&nbsp;&nbsp;
        <input type="radio" class="active_radio" name="already_chain" id="chain_status=0" value="0"><span class="radio_demo"></span>已入链 &nbsp;&nbsp;
        <input type="radio" class="active_radio" name="already_chain" id="chain_status=1" value="1"><span class="radio_demo"></span>未入链&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        病案归档时间<select name="">
            <option value="4" class="chain_option" id="chain_time=4" check="selected">全部时间</option>
            <option value="0" class="chain_option" id="chain_time=0">今天</option>
            <option value="1" class="chain_option" id="chain_time=1">最近一周</option>
            <option value="2" class="chain_option" id="chain_time=2">近一个月</option>
            <option value="3" class="chain_option" id="chain_time=3">近三个月</option>
        </select></div>
    <div class="padding border-bottom">
        <a href="medical_add"><div type="button" class="long_button" id="button"></div></a>
    </div>
</div>
<table class="table table-hover text-center" cellspacing="0">
    <tr style="background-color: #F0F0F0;">
        <!--<th><input type="button" id="chain_block"></th>-->
        <th><button class="checkall" style="border:none;background-color: #F0F0F0;">全选</button></th>
        <th width="100" style="text-align:left; padding-left:20px;">姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>病案号</th>
        <th>出院科室</th>
        <th>出院病区</th>
        <th>归档标志</th>
        <th>归档时间</th>
        <th>入链操作</th>
    </tr>
    <tbody id="show"></tbody>

</table>
{if condition="$auto_load.auto_chain eq 0"}
<div class="field" style="margin-left: 1530px;margin-top: -5px;">

    <span id="Eerror"></span>
    <!--<input type="checkbox" value="批量删除" onclick="check_del();">-->
    <input type="button" onclick="check_chain();" value="关闭自动入链" class="button bg-main icon-check-square-o">
</div>
{else/}
<div class="field" style="margin-left: 1530px;margin-top: -5px;">

    <span id="Eerror1"></span>
    <!--<input type="checkbox" value="批量删除" onclick="check_del();">-->
    <input type="button" onclick="check_chain();" value="开启自动入链" class="button bg-main icon-check-square-o">
</div>

{/if}
<div id="page"></div>
<script type="text/javascript">
    $('.active_radio').click(function(){
        $('.radio_demo').removeClass('active');
        $(this).next().addClass('active');
    })
    /**自动入链**/
    function check_chain(){
        var url = 'chain_checkchain';
        var obj = $(this);
        $.post(url,{},function(msg){
            if(msg.msg==0){

                window.location.reload();
            }else if(msg.msg==1){

                window.location.reload();
            }
        });}
    //全选
    $(".checkall").click(function(){
        $("input[name='check[]']").each(function(){
//          alert(this.val());
            if(this.checked){
                this.checked=false;
            }else{
                this.checked=true;
            }
        })
    });
    /**获取radio里的值做多条件查询**/
    $("document").ready(function(){
        var active = $(".active_radio");
        var str='';
        for(var i=0;i<active.length;i++){
            if(active.eq(i).prop('checked')){
                str+=active.eq(i).attr('id')+'&';
            }

        }
        var res = $(".chain_option");
        for(var i=0;i<res.length;i++){
//         alert(res.eq(i).prop('selected'))
            if(res.eq(i).prop('selected')){
                str+=res.eq(i).prop('id');
            }

        }
        page(1,str)
//      alert(str)
    });
    $(".panel-head input:radio").click(function(){
        var _this = $(this);
//        if(_this.eq(i).checked)
        var str = _this.attr('id')+'&';
        var res = $(".chain_option");
//      for(var i=0;i<res.length;i++){
////         alert(res.eq(i).prop('selected'))
//          if(res.eq(i).prop('selected')){
//              str+=res.eq(i).prop('id');
//          }
//
//      }
        str+=fire(res);
//      alert(str)
        page(1,str);
//        alert(_this.prop('checked'));
    });
    $(".panel-head option").click(function(){
        var active = $(".active_radio");
        var str = six(active);
        var _this = $(this);
//        if(_this.eq(i).checked)
        str += _this.attr('id');
//         alert(str)
        page(1,str);
    });
    function page(page,str){
//        alert(str)
        date = '';
        if(str==''){
            date = 'page='+page;
        }else{
            date = 'page='+page+'&'+str;
        }
//        alert(date)
        $.ajaxSetup({
            async : false
        });
        var url='chain_search';

        $.post(url,date,function(msg){
//alert(msg.status)

            if(msg.status==1){
                var st = '';
                $.each(msg.data,function(k,v){

                    st+='<tr><th><input type="checkbox" name="check[]" value="'+v.chain_id+'" id="chain_id"></th>';
                    st+='<td>'+v.chain_user+'</td>';
                    st+='<td>'+v.chain_age+'</td>';
                    if(v.chain_sex==1){
                        st+='<td>男</td>';
                    }else{
                        st+='<td>女</td>';
                    }
                    st+='<td>'+v.chain_num+'</td>';
                    st+='<td>'+v.chain_department+'</td>';
                    st+='<td>'+v.chain_lesion+'</td>';
                    if(v.chain_file==0){
                        st+='<td>已归档</td>';
                    }else if(v.chain_file==1){
                        st+='<td>未归档</td>';
                    }
                    if(v.chain_file==0){
                        st+='<td>'+v.chain_time+'</td>';
                    }else{
                        st+='<td>未归档时间</td>';
                    }
                    if(v.chain_status==1){
                        st+='<td class="block"><input type="button" id="block_chain" date_id = "'+v.chain_id+'" name="block_chain" value="入链✘" style="color: red;border:none;background-color: white;"></td>';
                    }else if(v.chain_status==0){
                        st+='<td style="color: green;border:none;background-color: white;">已入链✔</td>';
                    }
//
                    st+='</tr>';

                });
//                alert(msg.page)
                $("#show").html(st);
                $("#page").html(msg.page);
            }else if(msg.status==0){
                var st="<font style='color: #00a4ac' size='6' face='微软雅黑'>暂时没有数据:)</font>";
                $("#show").html(st);
                $("#page").html('');
            }
        });
    }
    /**委托事件**/
    $(document).on('click','#block_chain',function(){
        var chain_id = $(this).attr('date_id');
        var url = 'chain_block';
        var obj = $(this);
//        obj.parent().html("<d style='color:green;'>已入链✔</d>");
        $.post(url,{chain_id:chain_id},function(msg){
//            alert(msg.status)
            if(msg.status==0){
                obj.parent().html("<d style='color:green;'>已入链✔</d>");
            }else if(msg.status==1){
                alert('网络异常，请检查网络后再试一次：）');
            }else if(msg.status==2){
                alert('入链状态异常,请重新点击');
            }
        });
    });

    //    $("#block_chain").click(function(){
    //       alert(2)
    //    });



    function six(obj){
        var str = '';
        for(var i=0;i<obj.length;i++){
//            alert(active.eq(i).attr('id'))
            if(obj.eq(i).prop('checked')){
                str+=obj.eq(i).attr('id')+'&';
            }

        }
        return str;
    }
    function fire(obj) {
        var str = '';
        for (var i = 0; i < obj.length; i++) {
            if (obj.eq(i).prop('selected')) {
                str += obj.eq(i).attr('id');
            }
        }
        return str;
    }
    /**即点即改**/
//    $(".up").click(function(){
//        var id=$(this).attr('article');
//        var status=$(this).attr('status');
//        var obj=$(this);
//        $.ajax({
//            url:'status_up?id='+id+'&status='+status,
//            type:'get',
//            dataType:'json',
//            success:function(msg){
//                if(msg==1) {
//                    obj.html("<b style='color:green;'>✔</b>");
//                    obj.attr('status','1');
//                }
//                if(msg==0) {
//                    obj.html("<b style='color:red;'>✘</b>");
//                    obj.attr('status','0');
//                }
//            }
//        })
//    });

    //全选
    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    });

    //批量删除
    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要删除选中的内容吗？");
            if (t==false) return false;
            $("#listform").submit();
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }
</script>
</body>
</html>

