@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;background:#fff;text-align:center;font-size:14px;font-family:Microsoft YaHei,微软雅黑,黑体,宋体,Microsoft JhengHei,华文细黑,STHeiti,MingLiu;-webkit-font-smoothing: antialiased; /*chrome、safari*/-moz-osx-font-smoothing: grayscale;/*firefox*/}
body,img, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, strong, b, em, i, pre, code, form, fieldset, legend, input, button, textarea, p, a, blockquote, th, td{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size: 100%;}
h1, h2, h3, h4, h5, h6, b, em, i{font-weight: normal;font-style: normal;}
table{border-spacing: 0;border-collapse: collapse;}
table,td,th,tr{font-size:9pt;}
div, form, img, ul, ol, li, dl, dt, dd{margin: 0;padding:0;border:0;text-align: left;}
ul, ol, li{list-style: none;}
img{border: none;vertical-align: middle;}
input, textarea, select{border: none;outline: none;font-family: "Microsoft YaHei";background:none;}
select{border:none;appearance:none; -moz-appearance:none;-webkit-appearance:none;background:none;}
a{text-decoration: none;outline: none; text-decoration:none;color:#666;}
a:hover{color:#e84318; cursor:pointer;}
/*字体定义*/
.bold {font-weight:bold;}
.normal{font-weight:normal;}
.block {display:block;}
.unblock {display:none;}
.dib{display:inline-block;}
.dsb{display:block;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.va-tb{ vertical-align:text-bottom;}
.both{clear:both;}
.t-0{top:0;}
.t-3{top:3px !important;}
.t-20{top:20px;}
.b--2{bottom:-2px;}
.l-0{left:0;}
.r-0{right:0;}
.r--55{right:-55px;}
.bs-bb{box-sizing:border-box;}
.cs-p{cursor: pointer;}
#subject_list li:last-child{border: 0 ! important;}


/*字号及字体颜色、行高*/
/*.fstyle1{}*/
.fstyle2{font-family:Microsoft YaHei;}
.fstyle3{font-family:Arial, Helvetica, sans-serif;}

.font-style1{font-size:16px;color:#333;font-weight:600;}
.font-style2{font-size:14px;color:#333;}
.font-style3{font-size:14px;color:#e84318;}
.font-style4{font-size:12px;color:#e84318;font-weight:600;}

.fs10{font-size:10px;}
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs15{ font-size:15px;}
.fs16{ font-size:16px;}
.fs18{font-size:18px;}
.fs20{ font-size:20px;}
.fs22{font-size:22px;}
.fs24{font-size:24px;}
.fs26{font-size:26px;}
.fs28{font-size:28px;}
.fs30{font-size:30px;}
.fs38{font-size:38px;}
.fs40{font-size:40px;}
.fs45{font-size:45px;}
.fs50{font-size:50px;}

.fc0{color:#fff}
.fc9{color:#999}
.fc6{color:#666}
.fc5{color:#555}
.fc3{color:#333}
#transfer_rate{color: #FE5A4E}
.fc_4d{color:#4d4d4d;}
.fc_80{color:#808080;}
.fc_a6{color:#d9d9d9;}
.fc_red{color:#ff0000;}
.fc_red1{color:#ff5b4d;}
.fc_red2{color:#ff5750;}
.fc_red3{color:#fe5a4e;}
.fc_red4{color:#ff5a4d;}
.fc_red5{color:#e84318;}
.fc_ff5a4c{color:#ff5a4c;}
.fc_bf{color:#bfbfbf;}
.fc_green1{color:#1baa87;}
.fc_orange1{color:#ffaa08;}
.fc_orange2{color:#f5930a;}
.fc_orange3{color:#e84217;}
.fc_cc{color:#ccc;}
.fc_blue1{color:#007eff;}
.bdbt_e6 .fc_blue1:hover{color:#e84318;}
.bd_ff5a4d .fc_blue1:hover{color:#e84318;}
.fstyle1 .fc_blue1:hover{color:#e84318;}
.fc_red6{color:#ff0200;}
.fc_fda{color:#fda100;}
a.fc_fda:hover{color:#f5930a; cursor:pointer;z-index: 333}

.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh32{line-height:32px;}
.lh34{line-height:34px;}
.lh36{line-height:36px;}
.lh38{line-height:38px;}
.lh40{line-height:40px;}
.lh44{line-height:44px;}
.lh42{line-height:42px;}
.lh46{line-height:46px;}
.lh48{line-height:48px;}
.lh58{line-height:58px;}
.lh60{line-height:60px;}

/*间距*/
.fl { float:left; }
.fr { float:right; }
.ofh{overflow:hidden;}
.mtauto{margin:0 auto;}
.mtaut16{margin:0 auto 16px auto;}
.mtaut28{margin:0 auto 28px auto;}
.psr{position:relative;}
.psab{position:absolute;}

.ww{width: 100%;min-width: 1220px;margin: 0 auto}
.wl{width:1200px;}
.w998{width:998px;}
.w240{width:240px;}
.w252{width:252px;}
.w180{width:180px;}
.w120{width:120px !important;}
.w115{width:115px !important;}
.w200{width:200px;}
.w300{width:300px;}
.w60{width:60px;}
.w75{width:75px;}
.w65{width:65px;}
.w55{width:55px;}
.w70{width:70px;}
.w90{width:90px;}
.w100{width:100px;}
.w260{width:260px;}
.w80{width:80px;}
.w14{width:14px;}
.width100{width:100%;}
.width95{width:95%;}
.width90{width:90%;}
.width65{width:65%;}
.width50{width:50%;}
.width40{width:40%;}
.width33{width:33.33%;}
.width35{width:35%;}
.width20{width:20%;}
.width25{width:25%;}

.height_auto{height:auto;}
.height14{height:14px;}
.height20{height:20px;}
.height30{height:30px;}
.height32{height:32px;}
.height34{height:34px;}
.height36{height:36px;}
.height40{height:40px;}
.height42{height:42px;}
.height44{height:44px;}
.height46{height:46px;}
.height48{height:48px;}
.height60{height:60px;}
.height72{height:72px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl26{padding-left:26px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl70{padding-left:70px;}

.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr26{padding-right:26px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr70{padding-right:70px;}

.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pt8{padding-top:8px;}
.pt9{padding-top:9px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt18{padding-top:18px;}
.pt20{padding-top:20px;}
.pt22{padding-top:22px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt44{padding-top:44px;}
.pt50{padding-top:50px;}
.pt70{padding-top:70px;}
.pt80{padding-top:80px;}

.pb5{padding-bottom:5px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb12{padding-bottom:12px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb114{padding-bottom:114px;}

.mt--10{margin-top:-10px;}
.mt1{margin-top:1px !important;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt11{margin-top:11px;}
.mt12{margin-top:12px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt17{margin-top:17px;}
.mt18{margin-top:18px;}
.mt20{margin-top:20px;}
.mt22{margin-top:22px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt38{margin-top: 38px;}
.mt40{margin-top:40px;}
.mt41{margin-top:41px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px}
.mt56{margin-top:56px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt110{margin-top:110px}
.mt120{margin-top:120px}
.mt125{margin-top:125px}
.mt155{margin-top:155px}
.mg-auto{margin:30px auto 0}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}
.mb200{margin-bottom:200px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml-10{margin-left:10px !important;}
.ml20{margin-left:20px;}
.ml22{margin-left:22px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml38{margin-left:38px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml65{margin-left:65px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml98{margin-left:98px;}
.ml150{margin-left:150px;}
.ml120{margin-left:120px;}
.ml100{margin-left:100px;}

.mr4{margin-right:4px;}
.mr6{margin-right:6px;}
.mr10{margin-right:10px;}
.mr16{margin-right:16px;}
.mr18{margin-right:18px;}
.mr21{margin-right:21px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr44{margin-right:44px;}
.mr60{margin-right:60px;}
.mr75{margin-right:75px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr150{margin-right:150px;}

/*背景颜色、边框样式*/
.bg_color1{background-color:#f2f2f2;}
.bg_color2{background-color:#fff;}
.bg_color3{background-color:#333;}
.bg_color4{background-color:#f6f6f6;}
.bg_color5{background-color:#e6e8ed;}
.btn_bg{background-color:#f5930a;}
.bg_color6{background-color:#f4f3f1;}
.bg_color7{background-color:#fafafa;}
.bg_fe5a4e{background-color:#fe5a4e;}
.bg_fceeed{background-color:#fceeed;}
.bg_bdbdbd{background-color:#bdbdbd;}
.bg_ccc{background-color:#ccc;}


.bd_e6{border:1px solid #e6e6e6;}
.bds_e7{border:1px solid #e7e7e7;}
.bd_e7{border:1px dotted #e7e7e7;}
.bd_ff5a4c{border:1px solid #ff5a4c;}
.bd_ff5a4d{border:1px solid #ff5a4d;}

.bdt_none{border-top:none}
.bdt_e6{border-top:1px solid #e6e6e6;}

.bdbt_ce{border-bottom:1px solid #cecece;}
.bdbt_f2{border-bottom:1px solid #f2f2f2;}
.bdbt_e6{border-bottom: 1px solid #e6e6e6;}
.bdbt_e5e5e5_d{border-bottom: 1px dotted #e5e5e5;}
.bdbt_e5e5e5{border-bottom: 2px solid #e5e5e5;}
.bdbt_e84318{border-bottom: 2px solid #e84318;}
.bdbt_red1{border-bottom: 2px solid #ff5b4d;}
.bdbt_e84318{border-bottom: 2px solid #e84318;}
.bdbt_red4{border-bottom:1px solid #ff3142;}

.bdbt_blue1{border-bottom: 2px solid #7ec9f0;}
.bdbt_blue2{border-bottom:1px solid #5b72fe;}

.bdbt_pur1{border-bottom: 2px solid #eda4cf;}
.bdbt_red2{border-bottom:1px solid #ff5a4c}

.bdbt_green1{border-bottom:1px solid #44d7cc;}

.bdr_e6{border-right:1px solid #e6e6e6;}
/*--通用基础样式 结束--*/
.border-radius3{border-radius:3px;}








































