/*!/node_modules/glpb-components-common/src/base/base.scss*/
.clearfix:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: '\020';
  font-size: 0;
  clear: both;
}
.glpb-component {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.glpb-component div, .glpb-component p, .glpb-component span, .glpb-component a, .glpb-component ul, .glpb-component ol, .glpb-component dl, .glpb-component li, .glpb-component dt, .glpb-component dd, .glpb-component h1, .glpb-component h2, .glpb-component h3, .glpb-component h4, .glpb-component h5, .glpb-component h6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gplb-sys-editor .glpb-editor-setting-wrap {
  display: none;
  position: relative;
  height: 0;
  z-index: 10;
  overflow: visible;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  background: #fff;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar .glpb-editor-op-btn {
  width: 26px;
  height: 26px;
  margin-top: 10px;
  font-size: 26px;
  line-height: 26px;
  color: orange;
}
.gplb-sys-editor .glpb-editor-setting-wrap .gplb-editor-setting-bar .editor-op-more {
  height: 0;
  overflow: hidden;
}
.gplb-sys-editor .editor-op-show-more .gplb-editor-setting-bar .editor-op-more {
  height: auto;
}
.gplb-sys-editor .glpb-editor-bar-showing > .glpb-editor-setting-wrap {
  display: block;
}
.gplb-sys-editor .glpb-component {
  outline: 1px dashed #848484;
}
.gplb-sys-editor .custom-state-active {
  outline: 2px dashed blue;
}
.gplb-sys-editor .custom-state-hover {
  background: lightblue;
}
.gplb-sys-editor .glpb-editor-com-editing {
  outline: 2px dashed deeppink;
}
/*!/node_modules/glpb-components-common/src/components/layout-row/layout-row.scss*/
.glpb-com-layout_row .glpb-com-content {
  height: 100%;
}
/*!/node_modules/glpb-components-common/src/components/layout-column/layout-column.scss*/
.glpb-com-layout_column {
  float: left;
}
.gplb-sys-editor .glpb-com-layout_column > .glpb-editor-setting-wrap .gplb-editor-setting-bar {
  right: 0;
  left: auto;
}
/*!/node_modules/glpb-components-common/src/components/glpb-image/glpb-image.scss*/
.glpb-com-glpb_image img {
  display: block;
  border: 0 none;
}
.gplb-sys-editor .glpb-com-glpb_image > .glpb-editor-setting-wrap .gplb-editor-setting-bar {
  left: 0;
  top: auto;
  bottom: 0;
}
/*!/node_modules/glpb-slick-carousel/slick/slick.css*/
/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*!/node_modules/glpb-components-common/src/components/glpb-carousel/glpb-carousel.scss*/
.glpb-com-glpb_carousel .glpb-carousel-inner {
  height: 100%;
  width: 100%;
}
.glpb-com-glpb_carousel .glpb-carousel-inner .glpb-carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.glpb-com-glpb_carousel .glpb-carousel-inner a {
  display: block;
  text-decoration: none;
}
.glpb-com-glpb_carousel .glpb-carousel-inner img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0 none;
}
/*!/node_modules/glpb-components-common/src/components/glpb-rich-text/glpb-rich-text.scss*/
.glpb-com-glpb_rich_text {
  position: static;
}
.glpb-com-glpb_rich_text .glpb-content {
  font-size: inherit;
}
/*!/node_modules/glpb-components-common/src/components/link-button/link-button.scss*/
.glpb-com-glpb_link_button > .glpb-content {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  outline: none;
}
/*!/node_modules/glpb-we-pc/src/components/exchange-item-list/exchange-item-list.scss*/
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list {
  width: 1080px;
  margin: 0 auto;
  border-top: 1px solid #f4f4f4;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item {
  text-align: left;
  color: #848484;
  padding: 0 20px;
  border-bottom: 1px solid #f4f4f4;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-title {
  padding: 20px 0 0;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-title a {
  color: #333;
  text-decoration: none;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-title a:hover {
  color: #3a84cf;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main {
  margin-top: 17px;
  padding-bottom: 22px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .info-box {
  float: left;
  font-size: 16px;
  color: #2b2b2b;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .bd {
  line-height: 40px;
  height: 30px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .info {
  font-size: 12px;
  margin-top: 12px;
  color: #848484;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w127 {
  width: 127px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w191 {
  width: 191px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w181 {
  width: 181px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w280 {
  width: 280px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w112 {
  width: 112px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .w95 {
  width: 95px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .year-rate-box .product-year-rate {
  font-size: 14px;
  color: #ff7422;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .year-rate-box .product-year-rate .num-family {
  font-size: 30px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-period-box {
  text-align: center;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-start-amount-box {
  text-align: center;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-source-box {
  text-align: center;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-process-box {
  padding-left: 50px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-process-box .process-text {
  float: left;
  width: 50px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-process-box .process-bar {
  float: left;
  width: 50px;
  height: 3px;
  margin-top: 18px;
  background: #f1f1f1;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .product-process-box .process-bar .process-bar-inner {
  height: 100%;
  background: #3a84cf;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .glpb-exchange-list-item .exchange-item-info-main .buy-btn {
  float: right;
  width: 70px;
  height: 28px;
  line-height: 28px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ff721f;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.glpb-com-glpb_we_com_pc_exchange_item_list .editor-place-holder-img {
  border: 0 none;
  display: block;
}
/*!/node_modules/glpb-we-pc/src/components/lp-header/lp-header.scss*/
.glpb-com-glpb_we_com_pc_lp_header {
  background: #fff;
  overflow: hidden;
}
.glpb-com-glpb_we_com_pc_lp_header .glpb-content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact {
  position: absolute;
  top: 30px;
  right: 0;
  color: #a2a2a2;
  line-height: 24px;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .user-abs a {
  display: inline-block;
  color: #d8b567;
  text-decoration: none;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .icon-we-tel-empty {
  color: #d8b567;
  font-size: 24px;
  margin-left: 10px;
  position: relative;
  top: 3px;
}
.glpb-com-glpb_we_com_pc_lp_header .we-contact .contact-us {
  font-family: HelveticaNeueLt;
  font-size: 20px;
  font-weight: 700;
  color: #d8b567;
}
/*!/node_modules/glpb-we-pc/src/components/uPlan-item-list/uPlan-item-list.scss*/
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list {
  text-align: center;
  /*IE/7/6*/
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .clearfix {
  *zoom: 1;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail {
  display: block;
  margin: 0 auto;
  width: 1040px;
  padding: 40px 36px 40px;
  background: #fff;
  line-height: 1.2;
  margin-bottom: 18px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .float-left {
  float: left;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .float-right {
  float: right;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .name {
  margin: 5px 0 14px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .tag {
  display: inline-block;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .align-left {
  text-align: left;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .one-line {
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .border-left-right {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .width-205 {
  width: 205px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .font-18 {
  font-size: 18px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .font-40 {
  font-size: 40px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .font-20 {
  font-size: 20px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .font-14 {
  font-size: 14px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .border-orange {
  padding: 2px 5px;
  border: 1px solid #ff8a00;
  border-radius: 2px;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .tips {
  color: #b8b8b8;
  line-height: 1.5;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .color-grey {
  color: #585858;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .color-black {
  color: #000;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .color-orange {
  color: #ff8a00;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .color-deep-orange {
  color: #ff4f00;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .btn-join {
  float: right;
  display: block;
  width: 134px;
  height: 42px;
  margin-top: 27px;
  line-height: 42px;
  border-radius: 4px;
  text-align: center;
  background: #ff4f00;
  font-size: 18px;
  color: #fff;
}
.glpb-com-glpb_we_com_pc_uPlan_item_list .glpb-uPlan-list .uPlan-detail .btn-join:hover {
  background: #f26c1d;
}
/*!/node_modules/glpb-we-pc/src/components/salary-item-list/salary-item-list.scss*/
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary {
  text-align: center;
  /*IE/7/6*/
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .clearfix {
  *zoom: 1;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail {
  display: block;
  margin: 0 auto;
  width: 1040px;
  padding: 40px 36px 40px;
  background: #fff;
  line-height: 1.2;
  margin-bottom: 18px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .float-left {
  float: left;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .float-right {
  float: right;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .name {
  margin: 5px 0 14px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .tag {
  display: inline-block;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .align-left {
  text-align: left;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .one-line {
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .border-left-right {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .width-205 {
  width: 205px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .font-18 {
  font-size: 18px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .font-40 {
  font-size: 40px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .font-20 {
  font-size: 20px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .font-14 {
  font-size: 14px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .border-orange {
  padding: 2px 5px;
  border: 1px solid #ff8a00;
  border-radius: 2px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .border-blue {
  padding: 2px 5px;
  border: 1px solid #3a84cf;
  border-radius: 2px;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .tips {
  color: #b8b8b8;
  line-height: 1.5;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .color-grey {
  color: #585858;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .color-black {
  color: #000;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .color-deep-orange {
  color: #ff4f00;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .color-orange {
  color: #ff8a00;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .color-blue {
  color: #3a84cf;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .btn-join {
  float: right;
  display: block;
  width: 134px;
  height: 42px;
  margin-top: 27px;
  line-height: 42px;
  border-radius: 4px;
  text-align: center;
  background: #ff4f00;
  font-size: 18px;
  color: #fff;
}
.glpb-com-glpb_we_com_pc_salary_item .glpb-salary .salary-detail .btn-join:hover {
  background: #f26c1d;
}
/*!/node_modules/glpb-we-pc/src/components/lp-register-newer/lp-register-newer.scss*/
.glpb-com-glpb_we_com_pc_lp_register_newer {
  position: relative;
  text-align: center;
  width: 500px;
  height: 295px;
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-top {
  height: 100px;
  background: url("../images/lp-new-vip-title.png") center no-repeat;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-top img {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 81px;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list {
  width: auto;
  height: 75px;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info {
  float: left;
  width: 50%;
  color: #757575;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info .number {
  height: 55px;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info.new-vip-left .number span {
  font-size: 48px;
  color: #ff4f00;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info.new-vip-left .number i {
  font-style: normal;
  font-size: 24px;
  color: #ff4f00;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info.new-vip-right {
  margin-top: 15px;
  height: 70px;
  border-left: 1px solid #e5e5e5;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info.new-vip-right .number {
  font-size: 20px;
  padding-top: 15px;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info.new-vip-right .text {
  margin-top: 0;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .new-vip-list .new-vip-info .text {
  margin-top: 15px;
  font-size: 14px;
  color: #b8b8b8;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .j-btn {
  width: 355px;
  height: 53px;
  line-height: 53px;
  border-radius: 3px;
  margin-top: 33px;
  font-size: 20px;
  color: #ffffff;
  background: #ff4f00;
}
.glpb-com-glpb_we_com_pc_lp_register_newer .j-btn:hover {
  background: #e87e0f;
}
/*!/node_modules/glpb-we-pc/src/components/lp-register-title/lp-register-title.scss*/
.glpb-com-glpb_we_com_pc_lp_title {
  background: #fff;
}
.glpb-com-glpb_we_com_pc_lp_title .glpb-content {
  text-align: center;
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
/*!/node_modules/glpb-we-pc/src/components/lp-registration-box/lp-registration-box.scss*/
.glpb-lp-registration-box {
  width: 350px;
  min-height: 420px;
  max-height: 457px;
  position: relative;
  /*注册*/
}
.glpb-lp-registration-box .login-bg-new {
  right: 0;
  width: 350px;
  height: 420px;
  background: #fff;
  position: absolute;
  border-radius: 3px;
}
.glpb-lp-registration-box .glpb-content {
  position: absolute;
  width: 350px;
  min-height: 355px;
  max-height: 457px;
  right: 0px;
  top: 0;
  z-index: 999;
}
.glpb-lp-registration-box .register-head {
  height: 55px;
  text-align: center;
}
.glpb-lp-registration-box .register-head h3 {
  font-size: 14px;
  height: 55px;
  line-height: 55px;
  padding-left: 30px;
  color: #848484;
  border-bottom: 1px solid #e6e6e6;
  background: url("../images/lpIcon.png") 65px center no-repeat #fafafa;
}
.glpb-lp-registration-box .highlight-con {
  line-height: 35px;
  font-size: 16px;
  color: #fffbf2;
  background: #ff8813;
}
.glpb-lp-registration-box .step-list {
  position: relative;
  width: 290px;
  margin: 0 auto;
}
.glpb-lp-registration-box .step-item {
  position: absolute;
  width: 100%;
}
.glpb-lp-registration-box .red {
  color: red;
  text-align: center;
}
.glpb-lp-registration-box .form-phone {
  margin-top: 24px;
}
.glpb-lp-registration-box .form-phone .rui-form-error-info {
  display: none;
}
.glpb-lp-registration-box .form-phone .rui-input-wrap {
  padding: 0;
  border: 1px solid #e6e6e6;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}
.glpb-lp-registration-box .form-phone .rui-input-wrap:hover {
  border-color: #3a84cf;
}
.glpb-lp-registration-box .form-phone .rui-form-text-error .rui-input-wrap {
  border-color: #ee7565;
}
.glpb-lp-registration-box .form-phone .rui-form-input {
  width: 215px;
  height: 42px;
  line-height: 42px;
  padding: 0 0 0 13px;
  color: #2b2b2b;
  font-size: 16px;
  border: 0 none;
  background: transparent;
}
.glpb-lp-registration-box .form-phone .rui-form-placeholder {
  font-size: 14px;
  line-height: 43px;
  padding: 0;
  left: 13px;
  color: #666;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.glpb-lp-registration-box .form-phone .register-item-con {
  margin-top: 15px;
  position: relative;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap {
  position: relative;
  display: none;
  margin-top: 15px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con {
  float: left;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con .rui-input-wrap {
  width: 175px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rand-code-con .rui-input-wrap input {
  padding: 0 0 0 13px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con {
  display: inline-block;
  position: relative;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con .code-image-wrap {
  position: absolute;
  height: 43px;
  width: 105px;
  left: 0;
  top: 0;
  border: 1px solid #e6e6e6;
  text-align: center;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con .code-image-wrap img {
  width: 105px;
  height: 30px;
  margin-top: 10px;
  border: 0 none;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-phone-code-image-con.img-clickable .code-image-wrap {
  cursor: pointer;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .rui-form-error-info {
  right: 120px;
}
.glpb-lp-registration-box .form-phone .rank-code-wrap .code-image-con {
  float: right;
  width: 104px;
  height: 43px;
}
.glpb-lp-registration-box .form-phone .phone-code-input .rui-input-wrap {
  width: 175px;
  float: left;
}
.glpb-lp-registration-box .form-phone .phone-code-input .phone-code-pass {
  float: right;
  height: 44px;
  line-height: 44px;
  width: 105px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  right: 0;
  top: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.glpb-lp-registration-box .form-phone .phone-code-input .phone-code-pass.j-btn-gary {
  background: #e1e1e1;
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info {
  position: absolute;
  right: 300px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  padding: 0 10px;
  color: #666;
  background-color: #fff;
  white-space: nowrap;
  left: auto;
  top: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info:after {
  position: absolute;
  content: '';
  top: 50%;
  right: -7px;
  margin-top: -5px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent #fff;
  border-color: transparent #e6e6e6;
}
.glpb-lp-registration-box .form-phone .validate-error-con .rui-form-error-info:before {
  position: absolute;
  content: '';
  top: 50%;
  right: -5px;
  margin-top: -4px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent #fff;
  z-index: 1;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con {
  display: block;
  height: 22px;
  font-size: 12px;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .checkbox-holder {
  padding: 2px 0 2px 20px;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .checkbox-holder input {
  display: none;
}
.glpb-lp-registration-box .form-phone .agreement-wrap .register-agree-con .rui-form-error-info {
  top: -7px;
}
.glpb-lp-registration-box .form-phone .submit-btn {
  position: relative;
  top: 10px;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 15px auto 0;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  padding-left: 0;
  text-align: center;
}
.glpb-lp-registration-box .form-phone .submit-error-info {
  font-size: 12px;
  white-space: nowrap;
  color: #f00;
  text-align: center;
  margin-top: 10px;
}
.glpb-lp-registration-box :-ms-input-placeholder, .glpb-lp-registration-box ::-webkit-input-placeholder, .glpb-lp-registration-box ::-moz-placeholder {
  color: #cfcfcf;
}
.glpb-lp-registration-box input:-webkit-autofill,
.glpb-lp-registration-box textarea:-webkit-autofill,
.glpb-lp-registration-box select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.glpb-lp-registration-box input[type=text]:focus, .glpb-lp-registration-box input[type=password]:focus, .glpb-lp-registration-box textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.glpb-lp-registration-box .rui-form-checkbox {
  position: relative;
}
.glpb-lp-registration-box .rui-form-checkbox .checkbox-holder {
  padding-left: 20px;
  background: url(../other/JwMAwF4glGYgDz4E4mQmqKQyIGYnEILVzmaA2HWEgHoDUSjIxkAlGNQ4fjaC0Z0OCHmsgfsECJFKAeDUQSxCp8SkokQMEGACeSgxTR6zptwAAAABJRU5ErkJggg==) scroll no-repeat left center;
  cursor: default;
}
.glpb-lp-registration-box .rui-form-checkbox.rui-form-checkbox-checked .checkbox-holder {
  background-image: url(../other/8QZaCzQtCeJbjMI4wEvQE5NATFISDRPQYkcIMAAf4BHnw9TvUYAAAAASUVORK5CYII=);
}
.glpb-lp-registration-box input {
  outline: 0px;
}
/*!/node_modules/glpb-we-pc/src/components/lp-registration-row/lp-registration-row.scss*/
.glpb-com-glpb_we_com_pc_lp_registration_row > .glpb-content {
  position: relative;
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}
.glpb-com-glpb_we_com_pc_lp_registration_row > .glpb-content .glpb-com-glpb_we_com_pc_lp_regitstration_box {
  position: absolute;
  top: 35px;
  right: 0;
}
/*!/node_modules/glpb-we-pc/src/components/newer/newer.scss*/
.glpb-com-glpb_we_com_pc_newer-own_item_list {
  /*IE/7/6*/
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .clearfix {
  *zoom: 1;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .float-left {
  float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .float-right {
  float: right;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail {
  width: 1040px;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title {
  height: 56px;
  border-bottom: solid 1px #ebebeb;
  padding-left: 25px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-icon {
  width: 75px;
  height: 23px;
  float: left;
  margin: 16px 24px 0 0;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-plan-name {
  line-height: 56px;
  float: left;
  width: 170px;
  font-size: 16px;
  color: #333;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-title .newer-explain {
  font-size: 12px;
  line-height: 56px;
  color: #999;
  width: 400px;
  float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data {
  width: 1040px;
  padding: 35px 65px 35px 0;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt {
  float: left;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div {
  border-right: solid 1px #ebebeb;
  width: 352px;
  float: left;
  text-align: center;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div p {
  line-height: normal;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .color-deep-orange {
  color: #ff4f00;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .color-grey {
  color: #585858;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-40 {
  font-size: 40px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-36 {
  font-size: 36px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-18 {
  font-size: 18px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .font-14 {
  font-size: 14px;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dt div .tips {
  color: #b8b8b8;
  line-height: 1.5;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd {
  width: 150px;
  float: right;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd .btn-join {
  display: block;
  width: 150px;
  height: 32px;
  margin-bottom: 10px;
  line-height: 32px;
  border-radius: 2px;
  text-align: center;
  background: #ff4f00;
  font-size: 14px;
  color: #fff;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd .btn-join:hover {
  background: #f26c1d;
}
.glpb-com-glpb_we_com_pc_newer-own_item_list .glpb-newer-own-list .newer-own-detail .newer-data dd p {
  text-align: center;
  font-size: 12px;
  color: #999;
}
/*!/node_modules/glpb-we-pc/src/components/uplan-premium/uplan-premium.scss*/
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium {
  margin: auto;
  border-radius: 3px;
  width: 1040px;
  height: 165px;
  background: #ffffff;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list li {
  float: left;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list li .text {
  font-size: 14px;
  color: #b8b8b8;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-name {
  margin: 70px 0 0 35px;
  font-size: 20px;
  color: #000000;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-rate {
  margin: 50px 0 0 175px;
  padding-right: 57px;
  color: #ec5c2a;
  font-size: 36px;
  border-right: 1px solid #e5e5e5;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-rate span {
  font-size: 18px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-lock {
  margin: 68px 0 0 75px;
  font-size: 20px;
  color: #000000;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-lock .text {
  margin-top: 7px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn {
  margin: 78px 0 0 125px;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn .btn-join {
  display: block;
  width: 134px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  text-align: center;
  background: #ff4f00;
  font-size: 18px;
  color: #fff;
}
.glpb-com-glpb_we_com_pc_uplan_premium .glpb-pc-uplan-premium .premuim-list .premuim-btn .btn-join:hover {
  background: #f26c1d;
}
/*!/node_modules/glpb-we-pc/src/components/rrd-lp-footer/rrd-lp-footer.scss*/
.rrd-lp-footer {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 30px 0 65px;
}
.rrd-lp-footer p {
  line-height: 25px;
}
/*!/node_modules/glpb-we-pc/src/components/rrd-lp-u-plan/rrd-lp-u-plan.scss*/
.uplan-item-box {
  width: 1080px;
  margin: 10px auto;
  background: #fff;
}
.uplan-item-box .fl-right {
  float: right;
}
.uplan-item-box .product-title {
  color: #333;
  font-size: 18px;
  line-height: 60px;
  border-bottom: 1px solid #ebebeb;
}
.uplan-item-box .product-title h2 {
  font-size: 18px;
  margin-left: 42px;
}
.uplan-item-box .product-title .sign {
  width: 57px;
  margin-right: 12px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.uplan-item-box .product-title .gift {
  font-size: 14px;
  color: #be3729;
  margin-right: 34px;
}
.uplan-item-box .product-title .gift .img-gift {
  width: 17px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 8px;
}
.uplan-item-box .plan-detail-box {
  height: 139px;
}
.uplan-item-box .plan-detail-box li {
  float: left;
  width: 230px;
  height: 80px;
  margin-top: 28px;
  border-right: 1px solid #ebebeb;
  text-align: center;
  color: #999;
}
.uplan-item-box .plan-detail-box .rate-box .num {
  color: #ce3535;
  font-size: 36px;
  line-height: 60px;
}
.uplan-item-box .plan-detail-box .rate-box .symbol {
  color: #ce3535;
  font-size: 14px;
}
.uplan-item-box .plan-detail-box .month-box .month {
  font-size: 30px;
  line-height: 60px;
  color: #333;
}
.uplan-item-box .plan-detail-box .tip-box {
  width: 610px;
  line-height: 80px;
  font-size: 20px;
  color: #333;
  border: none;
  text-align: left;
  padding-left: 60px;
}
.uplan-item-box .plan-detail-box .tip-box .join-btn {
  float: right;
  line-height: 42px;
  border-radius: 5px;
  width: 110px;
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  background: #bc3434;
  cursor: pointer;
  text-align: center;
}
.uplan-item-box .plan-detail-box .tip-box .join-btn:hover {
  background: #b71e1e;
}
/*!/node_modules/glpb-we-pc/src/components/rrd-lp-company-info/rrd-lp-company-info.scss*/
.rrd-company-info-box {
  width: 1080px;
  background: #fff;
  margin: 0 auto;
}
.rrd-company-info-box .data-box {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
  min-height: 95px;
  line-height: 35px;
}
.rrd-company-info-box .data-box .rrd-data {
  width: 539px;
  text-align: center;
  color: #333;
  font-size: 18px;
}
.rrd-company-info-box .data-box .rrd-data .number-box {
  margin-left: 8px;
}
.rrd-company-info-box .data-box .rrd-data em {
  border: 1px solid #e5afa9;
  border-radius: 2px;
  color: #be3729;
  margin-right: 9px;
  padding: 0 5px;
}
.rrd-company-info-box .data-box .border-right {
  border-right: 1px solid #ebebeb;
}
.rrd-company-info-box .left {
  float: left;
}
.rrd-company-info-box .right {
  float: right;
}
.rrd-company-info-box .company-info-box {
  padding: 38px 0;
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 55px;
}
.rrd-company-info-box .company-info-box .mg-left-50 {
  margin-left: 50px;
}
.rrd-company-info-box .company-info-box .mg-right-50 {
  margin-right: 50px;
}
.rrd-company-info-box .company-info-box img {
  width: 55px;
  vertical-align: middle;
  margin-right: 28px;
}
