<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>病案删除</title>
    <link rel="stylesheet" href="admin/admins/css/pintuer.css">
    <link rel="stylesheet" href="admin/admins/css/admin.css">
    <link rel="stylesheet" href="admin/assets/css/pintuer.css">
    <script src="admin/admins/js/jquery.js"></script>
    <script src="admin/admins/js/pintuer.js"></script>
    <style>
        .border-bottom{
            width: 15%;
            height: 5em;
            margin-left: 4%;
        }
        .admin_lisd{
            width:100%;
            height:100%;
        }
        .long_button{
            background: url('admin/admins/images/medical_del.png') no-repeat;
        }
        .short_button {
            width: 24.1%;
            height: 3em;
            border:none;
            background:url('admin/admins/images/medical_del_all.png') no-repeat;
        }
        .check{

            margin-left: 40%;
        }
        .am-pagination{
            margin-left:4%;
        }
    </style>
</head>
<body>
<div class="panel admin-panel"><!--<a href="" style="float:right; display:none;">添加字段</a>-->
    <div class="panel-head"><strong class="icon-reorder"> 病案删除</strong></div>
    <div class="padding border-bottom">
        <a href="#"><div class="long_button"></div></a>
    </div>
</div>
<table class="table table-hover text-center" cellspacing="0">
    <tr style="background-color: #F0F0F0;">
        <th class="checkall" style="border:none;background-color: #F0F0F0;">全选</th>
        <th width="100" style="text-align:left; padding-left:20px;">病案标题</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>病案号</th>
        <th>出院科室</th>
        <th>出院病区</th>
        <th>操作</th>
    </tr>
    {volist name="data" id="v"}
    <tr>
        <td><input type="checkbox" name="check[]" value="{$v.chain_id}"/></td>
        <td>{$v.chain_title}</td>
        <td>{$v.chain_user}</td>
        <td>{$v.chain_age}</td>
        <td>{if condition="$v.chain_sex eq 0"}
            男
            {else/}
            女
            {/if}
        </td>
        <td>{$v.chain_num}</td>
        <td>{$v.chain_department}</td>
        <td>{$v.chain_lesion}</td>
        <td><a href="javascript:void(0)" id="{$v.chain_id}" class="aa" onclick="del(this)">删除</a></td>
    </tr>
    {/volist}
</table>
<div class="field" style="margin-left: 1190px">
    <span id="Eerror"></span>
    <!--<input type="checkbox" value="批量删除" onclick="check_del();">-->
    <input type="button" onclick="check_del();"  class="short_button">
</div>
<tr>
    <td class="button border-yellow">{$data->render()}</td>
</tr>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        var flag = 1;
        $(".check").click(function(){
            if(flag == 1){
                $(this).addClass('ck');
                flag = 0;
            } else{
                $(this).removeClass('ck');
                flag = 1;
            }
        })
    });
    function page(page){
        $url='medical_delete';
        $.get(url,{page:page},function(){

        })
    }
    $(".up").click(function(){
        var id=$(this).attr('article');
        var status=$(this).attr('status');
        var obj=$(this);
        $.ajax({
            url:'status_up?id='+id+'&status='+status,
            type:'get',
            dataType:'json',
            success:function(msg){
                if(msg==1) {
                    obj.html("<b style='color:green;'>✔</b>");
                    obj.attr('status','1');
                }
                if(msg==0) {
                    obj.html("<b style='color:red;'>✘</b>");
                    obj.attr('status','0');
                }
            }
        })
    });
    //单删
    function del(obj)
    {
        var id=obj.id;
//        alert(id)
        var ajax=new XMLHttpRequest();
        ajax.onreadystatechange=function()
        {
            if(ajax.readyState==4)
            {
                //alert(ajax.responseText);
                if(ajax.responseText==1)
                {
                    obj.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode);
                }
                else{
                    alert("删除失败");
                }
            }
        }
        ajax.open("get","medical_del?id="+id);
        ajax.send(null);
    }
    //全选
    $(".checkall").click(function(){
        $("input[name='check[]']").each(function(){
           if(this.checked)
           {
               this.checked=false;
           }
           else
           {
               this.checked=true;
           }
        });
    })
    //批量删除
    //    function DelSelect(){
    //        var Checkbox=false;
    //        $("input[name='check[]']").each(function(){
    //            if (this.checked==true) {
    //                Checkbox=true;
    //            }
    //        });
    //        if (Checkbox){
    //            var t=confirm("您确认要删除选中的内容吗？");
    //            if (t==false) return false;
    //            $("#listform").submit();
    //        }
    //        else{
    //            alert("请选择您要删除的内容!");
    //            return false;
    //        }
    //    }
    function check_del()
    {
        var id =$("input[name='check[]']");
        var str=Array();
        for(var i=0;i<id.length;i++)
        {
            if(id[i].checked==true)
            {
                str.push(id[i].value);


            }
        }
//        alert(str)
        //获取所有选中的值
//        var ids =$('.check').find('.ck');
//        var id = ids.children();
//        var str=Array();
//        for(var i=0;i<id.length;i++)
//        {
//            if(id[i].checked==true)
//            {
//                str.push(id[i].value);
//
//
//            }
//        }
        var ajax=new XMLHttpRequest();
        ajax.onreadystatechange=function() {
            if(ajax.readyState == 4) {
                //alert(ajax.responseText);
                if(ajax.responseText==1) {

                    for (var j = id.length - 1; j >= 0; j--) {
                        if (id[j].checked){
//                            alert(id[j].parentNode.parentNode.parentNode.nodeName);
                            id[j].parentNode.parentNode.parentNode.removeChild(id[j].parentNode.parentNode);
                        }
                    }
//

                }
                else
                {
                    alert("删除失败");
                }
            }
        }
        ajax.open("get","medical_delall?new_str="+str);
        ajax.send(null);

    }
    window.alert = function(str)
    {
        var shield = document.createElement("DIV");
        shield.id = "shield";
        shield.style.position = "absolute";
        shield.style.left = "0px";
        shield.style.top = "0px";
        shield.style.width = "100%";
        shield.style.height = document.body.scrollHeight+"px";
//弹出对话框时的背景颜色
        shield.style.background = "#fff";
        shield.style.textAlign = "center";
        shield.style.zIndex = "25";
//背景透明 IE有效
//shield.style.filter = "alpha(opacity=0)";
        var alertFram = document.createElement("DIV");
        alertFram.id="alertFram";
        alertFram.style.position = "absolute";
        alertFram.style.left = "50%";
        alertFram.style.top = "50%";
        alertFram.style.marginLeft = "-225px";
        alertFram.style.marginTop = "-75px";
        alertFram.style.width = "450px";
        alertFram.style.height = "150px";
        alertFram.style.background = "#ff0000";
        alertFram.style.textAlign = "center";
        alertFram.style.lineHeight = "150px";
        alertFram.style.zIndex = "300";
        strHtml = "<ul style=\"list-style:none;margin:0px;padding:0px;width:100%\">\n";
        strHtml += " <li style=\"background:#00a6fe;text-align:left;padding-left:20px;font-size:14px;font-weight:bold;height:25px;line-height:25px;border:1px solid #F9CADE;\">[系统提示]</li>\n";
        strHtml += " <li style=\"background:#fff;text-align:center;font-size:12px;height:120px;line-height:120px;border-left:1px solid #F9CADE;border-right:1px solid #F9CADE;\">"+str+"</li>\n";
        strHtml += " <li style=\"background:#FDEEF4;text-align:center;font-weight:bold;height:25px;line-height:25px; border:1px solid #F9CADE;\"><input type=\"button\" value=\"确 定\" onclick=\"doOk()\" /></li>\n";
        strHtml += "</ul>\n";
        alertFram.innerHTML = strHtml;
        document.body.appendChild(alertFram);
        document.body.appendChild(shield);
        var ad = setInterval("doAlpha()",5);
        this.doOk = function(){
            alertFram.style.display = "none";
            shield.style.display = "none";
        }
        alertFram.focus();
        document.body.onselectstart = function(){return false;};
    }
</script>
</body>
</html>

