<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录医疗网后台管理系统</title>
    <link href="admin/logins/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="admin/logins/js/jquery.js"></script>
    <script src="admin/logins/js/cloud.js" type="text/javascript"></script>
    <script src="admin/logins/js/md5.js" type="text/javascript"></script>
    <link href="admin/homes/css/common.css" rel="stylesheet" type="text/css">
    <link href="admin/homes/css/drag.css" rel="stylesheet" type="text/css">
    <link href="admin/homes/css/register.css" rel="stylesheet" type="text/css">
    <script language="javascript">
        $(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            $(window).resize(function(){
                $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            })
        });
    </script>

</head>

<body style="background-color:#1c77ac; background-image:url(__PUBLIC__/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
<div id="mainBody">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
</div>


<div class="logintop">
    <span>欢迎登录医疗后台管理界面平台</span>
    <ul>
        <li><a href="/">回首页</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">关于</a></li>
    </ul>
</div>

<div class="loginbody">

    <span class="systemlogo"></span>

    <div class="loginbox">

        <ul>
            <li><input name="" type="text" class="loginuser" value="admin" maxlength="24" id="j_username" onBlur="return checkUsername()" placeholder="请输入用户名" onclick="JavaScript:this.value=''"/></li><span id="j_usernameErrorDiv"></span>
            <li><input name="" type="password" class="loginpwd" value="密码" maxlength="24" id="j_password" onBlur="return checkPassword()" placeholder="请输入密码" onclick="JavaScript:this.value=''"/></li><span id="j_passwordErrorDiv"></span>
            <li><input name="" type="button" class="loginbtn" value="登录" onclick="loginCheck();"/><label><input name="" type="checkbox" value="" checked="checked" id="ifRemember"/>记住密码</label><label><a href="pwd_list">忘记密码？</a></label><label><a href="login_index">立即注册</a></label></li><span id="j_yzmErrorDiv"></span>
            <li><div style="margin-left: 1%; margin-top: -20px;"><div id="drag"></div></div></li>
            <li><div style="margin-left: 1%; margin-top: -20px;"><div id="wrong"></div></div></li>
        </ul>
    </div>

</div>
<script>
    var aaa = false;
    (function($){
        $.fn.drag = function(options){
            var x, drag = this, isMove = false, defaults = {
            };
            var options = $.extend(defaults, options);
            //添加背景，文字，滑块
            var html = '<div class="drag_bg"></div>'+
                '<div class="drag_text" onselectstart="return false;" unselectable="on">拖动滑块验证</div>'+
                '<div class="handler handler_bg"></div>';
            this.append(html);
            var handler = drag.find('.handler');
            var drag_bg = drag.find('.drag_bg');
            var text = drag.find('.drag_text');
            var maxWidth = drag.width() - handler.width();  //能滑动的最大间距

            //鼠标按下时候的x轴的位置
            handler.mousedown(function(e){
                isMove = true;
                x = e.pageX - parseInt(handler.css('left'), 10);
            });

            //鼠标指针在上下文移动时，移动距离大于0小于最大间距，滑块x轴位置等于鼠标移动距离
            $(document).mousemove(function(e){
                var _x = e.pageX - x;
                if(isMove){
                    if(_x > 0 && _x <= maxWidth){
                        handler.css({'left': _x});
                        drag_bg.css({'width': _x});
                    }else if(_x > maxWidth){  //鼠标指针移动距离达到最大时清空事件
                        dragOk();
                    }
                }
            }).mouseup(function(e){
                isMove = false;
                var _x = e.pageX - x;
                if(_x < maxWidth){ //鼠标松开时，如果没有达到最大距离位置，滑块就返回初始位置
                    handler.css({'left': 0});
                    drag_bg.css({'width': 0});
                }
            });

            //清空事件
            function dragOk(){
                handler.removeClass('handler_bg').addClass('handler_ok_bg');
                text.text('验证通过');
                aaa = true;
                drag.css({'color': '#fff'});
                handler.unbind('mousedown');
                $(document).unbind('mousemove');
                $(document).unbind('mouseup');
                if($("#j_username").val() == ""||$("#j_password").val() == ""){
                    $('#wrong').html('<font color="red">记得要输入帐号密码：）</font>');
                    e.preventDefault();
                }else{
                    $('#wrong').empty();
                }
            }
        };
    })(jQuery);

    var a = $('#drag').drag();

    $("input").keyup(function(){
        if($("#j_username").val() == ""||$("#j_password").val() == ""){
            $('#wrong').html('<font color="red">记得要输入帐号密码：）</font>');
            e.preventDefault();
        }else{
            $('#wrong').empty();
        }
    });


    var v1 = false;
    var v2 = false;
    //验证用户名
    function checkUsername()
    {

        var username = $("#j_username").val();
        var usernameRegex = /^[a-zA-Z0-9]{6,24}$/;
        var nullFlag=(username==""||username=="请输入用户名");
        if (nullFlag==true)
        {
            $("#j_usernameErrorDiv").html("请输入用户名");
            v1 = false;
            return false;
        }
        else
        {
            $("#j_yzmErrorDiv").empty();
            $("#j_usernameErrorDiv").empty();
        }
        var usernameFlag=usernameRegex.test(username);

        if (!usernameFlag)
        {
            $("#j_usernameErrorDiv").html("请输入正确格式的用户名");
            v1 = false;
            return false;
        }
        else
        {
            $("#j_yzmErrorDiv").empty();
            $("#j_usernameErrorDiv").empty();
            v1 = true;
        }
        return true;
    }
    //验证密码
    function checkPassword()
    {

        var password = $("#j_password").val();
        var passwordRegex = /^[a-zA-Z0-9_]{6,24}$/;
        var nullFlag=(password==""||password=="请输入密码");
        if (nullFlag==true)
        {
            $("#j_passwordErrorDiv").empty();
            $("#j_passwordErrorDiv").html("密码不能为空");
            v2 = false;
            return false;
        }
        else
        {
            $("#j_yzmErrorDiv").empty();
            $("#j_passwordErrorDiv").empty();
        }
        var passwordFlag=passwordRegex.test(password);

        if(!passwordFlag){
            $("#j_passwordErrorDiv").html("请检查密码格式");
            v2 = false;
            return false;
        }
        else
        {
            $("#j_yzmErrorDiv").empty();
            $("#j_passwordErrorDiv").empty();
            v2 = true;
        }
        return true;
    }
    //登录验证
    function loginCheck()
    {

        if (v1&&v2&&aaa==true)
        {

            var username = $("#j_username").val();
            var pwd = $("#j_password").val();
            var password = hex_md5(pwd);
            var checkname = $("#ifRemember").is(':checked');
            var url ='index_index';
            $.post(url,{username:username,password:password},function(msg){
                if(msg.status==0)
                {
                    location.href='index_admin';
                }
                else if(msg.status==1)
                {
                    $("#wrong").html('<font color="red"></font>')
                    $("#j_usernameErrorDiv").html(msg.error);
                    $("#j_passwordErrorDiv").html('');
                }
                else if(msg.status==2)
                {
                    $("#j_passwordErrorDiv").html(msg.error);
                    $("#j_usernameErrorDiv").html('');
                }
            },'json');
            $("#j_yzmErrorDiv").empty();
        }
        else{
//            $("#j_yzmErrorDiv").html("请仔细检查账号密码格式");
//            return false;
            $('#wrong').html('<font color="white">请仔细检查账号和密码：）</font>');
            e.preventDefault();
        }
        return false;
    }

</script>


<div class="loginbm">医疗后台1.0v</div>
</body>
</html>
