<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>医疗管理平台</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="admin/homes/css/common.css" rel="stylesheet" />
    <link href="admin/homes/css/register.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="admin/homes/script/jquery.min.js"></script>
    <script type="text/javascript" src="admin/Homes/script/common.js"></script>
</head>
<body>
{include file='admin/homes/layout/header.php'}
<!--注册-->
<div class="wrap">
    <div class="tdbModule register">
        <div class="registerTitle">注册账户</div>
        <div class="registerLc3">
            <p class="p1">填写账户信息</p>
            <p class="p2">验证手机信息</p>
            <p class="p3">注册成功</p>
        </div>
        <div class="registerCont">
            <ul>
                <li class="scses">{$username} 恭喜您注册成功！<a class="blue" href="/" target="_blank">现在开始登陆！</a></li>
            </ul>
        </div>
    </div>
</div>
<!--网站底部-->
{include file='admin/homes/layout/footer.php'}
</body>
</html>